
#visualization-area {
    svg {
        box-sizing: border-box; 
        object-fit: contain;
        width: 100%; 
        height: 100%;
    }
}

#visualization-svg {
    * {
        transform-origin: center;
        transform-box: border-box;
    }
    g.pc {
        cursor: pointer;
        text {
            font-family: serif;
            font-size: 2.5em;
            text-anchor: middle;
            text-align: center;
            dominant-baseline: central;
            user-select: none;
            fill: var(--fg-color);
            &.pc-text-note tspan {
                font-size: 65%;
            }
        }
        circle {
            fill: var(--bg-color);
            stroke: transparent;
            stroke-width: 2px;
            transition: stroke 0.2s ease-in-out;
        }
        &:hover {
            circle {
                transition: none;
                fill: var(--pc-hover-color);
            }
        }
        &.selected {
            circle {
                fill: var(--bg-color);
                stroke: var(--fg-color);
            }
            text {
                fill: var(--fg-color);
            }
            &:hover circle {
                fill: var(--pc-selected-hover-color);
            }
        }
        &.pc-moving-from {
            cursor: move;
            circle {
                stroke-dasharray: 10,5;
                transition: none;
            }
            &:hover circle {
                stroke: var(--pc-moving-from-stroke);
            }
        }
        &.pc-moving-to {
            cursor: move;
            circle { 
                fill: var(--pc-moving-to-fill) !important;
                stroke: var(--pc-moving-to-stroke);
                transition: none;
            };
        }
        &:hover, &.pc-moving-from {
            circle {
                animation: 0.3s ease-in alternate infinite pc-pulse-animation;
            }
        }
    }
    #polygon {
        stroke: var(--polygon-border-color);
        stroke-width: 2px;
        fill: var(--polygon-fill-color);
        transition: all 0.3s ease-in-out;
        animation: 0.9s ease-in-out 0s infinite alternate polygon-rotate-animation;
    }
    #move-line {
        fill: none;
        stroke: var(--pc-moving-to-stroke);
        stroke-width: 4px;
        transition: all 0.1s ease-out;
        marker-end: url(#marker-arrow);
    }
    .symmetry-axis {
        fill: none;
        stroke: var(--axis-color);
        stroke-width: 1.7px;
        stroke-dasharray: 3.5,7;
        stroke-dashoffset: 2.5;
        animation: 4s ease-in-out 0s infinite alternate symline-opacity-animation;
    }
    .interval-line {
        stroke: var(--axis-color);
        stroke-width: 2px;
    }
}

@keyframes pc-pulse-animation {
    0%   { transform: scale(100%); }
    100% { transform: scale(103%);  }
}

@keyframes polygon-rotate-animation {
    0%   { transform: rotate(-0.5deg); }
    100% { transform: rotate(+0.5deg); }
}

@keyframes symline-opacity-animation {
    0%   { stroke-opacity: 60%; }
    100% { stroke-opacity: 70%; }
}
